html{
  scroll-behavior: smooth;
  background-size: cover;
  width:100%;
  height:100%;
  margin:0;
}

body{
  background-image: url('about1.jpg');
  background-attachment: fixed;
  max-width:cover;
  height:auto;
  margin:0;
}

.navbar{
  display:flex;
  background-color: #654321;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden
  margin-bottom: auto;
}

.navbar a{
  float: left;
  color: #CB9D06;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 4vh;
  padding: 4vh 1vw;
  z-index= 1000;
  width: auto;
}

.navbar a:hover{
  color: white;
}

.navbar a:active{
  background-color: #CD7F32;
  color: white;
}

.logo{
  display:flex;
  position: fixed;
  top: 0;
  left:0;
  margin-bottom: auto;
  height: 12vh;
  width: auto;
  overflow: hidden;
}

.logopic{
  height: 100%;
  width: auto;
}

.locbox{
  min-height: 13vh;
}

.button{
  background-color: #654321;
  color: #CB9D06;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 4vh;
  padding: 4vh 1vw;
  max-width: 30vw;
}

.button:hover{
  color: white;
}

.button:active{
  background-color: #CD7F32;
  color: white;
}


.mainpage{
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  margin-top: 7.5vh;
  margin-left: 5vw;
}

.mainimg{
  width: 65%;
  height: auto;
}

.mainintro{
  width: 35%;
  height: auto;
  text-align: center;
}

.cardgroup{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden
  margin-bottom: auto;

}

.card{
  max-width: 25vw;
  margin: auto;
  text-align: center;
  border-style: solid;
  outline: 4vw;
}

.card:hover{
  transform: scale(1.05);
}

.cardtitle{
  font-size: 1.5em;
  font-weight: bold;
  color: #CB9D06;
}

.price {
  color: #AAAAAA;
  font-size: x-large;
}

.subtext{
  color: #CCCCCC;
  font-size: large;
}

.card button {
  border: none;
  outline: 0;
  padding: 1vh;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 1em;
}

.card button:hover {
  opacity: 0.4;
}

.card button:active,
.card button:focus {
  background: green;
}

input[type=text]:hover{
  background-color: rgba(152,255,152,0.3);
}

input[type=text]:focus{
  background-color: #ADD8E6;
}

.textarea:hover{
  color: #ADD8E6;
}

.endpage{
  background-color: #654321;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  min-height:90vh;
  width
  margin-bottom: auto;
}

.endbar{
  display:flex;
  background-color: #654321;
  position:relative;
  bottom: 10vh;
  overflow: hidden
  margin-bottom: auto;
}

.endbar a{
  float: left;
  color: #CB9D06;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 4vh;
  padding: 4vh 1vw;
  width: auto;
}

.endbar a:hover{
  color: white;
}

.endbar a:active{
  background-color: #CD7F32;
  color: white;
}
